// colors
$primary: #A7E2EE;
$primary-dark: #00a6cb;
$main : #002B49;
$black: #000;
$white: #fff;
$red: #ff7e79;
// fonts
$mainFont: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;
$arial: 'Arial', sans-serif;



